@{
    ViewBag.Title = "Contact";
}
<h1>Would you like to Contact Us?</h1>
<h3>We're here to listen to you.</h3>

<address>
    One Rockefeller Center<br />
    Denver, CO 55444<br />
    <abbr title="Phone">P:</abbr>
    813.362.0100
</address>

<address>
    <strong>Support:</strong>   <a href="#">Support@Newzzit.com</a><br />
    <strong>Marketing:</strong> <a href="#">Marketing@Newzzit.com</a>
</address>