@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NewZZit</h1>
    <p class="lead">The new front page of the Internets</p>
</div>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3><strong>Title</strong></h3>
            <p>Here is the body of the post, bla bla bla...</p>
            <p><a class="btn btn-default" href="#"><i class="glyphicon glyphicon-arrow-up"></i></a><a class="btn btn-default" href="#"><i class="glyphicon glyphicon-arrow-down"></i></a></p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
                <span class="btn-group-vertical">
                    <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-arrow-up"></i></button>
                    <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-arrow-down"></i></button>
                </span>
                <h3><strong>Title</strong></h3>
                <p>Here is the body of the post, bla bla bla...</p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                <span class="btn-group-vertical pull-right">
                    <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-arrow-up"></i></button>
                    <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-arrow-down"></i></button>
                </span>
            <strong>Title</strong></h3>
            <p>Here is the body of the post, bla bla bla...</p>
        </div>
    </div>
</div>