@{
    ViewBag.Title = "Home Page";
}

<div><h1>NewZZit<small>&nbsp;&nbsp;the new front page of the internet</small></h1></div>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                <span class="btn-group-vertical pull-right">
                    <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-arrow-up"></i></button>
                    <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-arrow-down"></i></button>
                </span>
            <strong>Title</strong></h3>
            <p>Here is the body of the post, bla bla bla...</p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                <span class="btn-group-vertical pull-right">
                    <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-arrow-up"></i></button>
                    <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-arrow-down"></i></button>
                </span>
                <strong>Title</strong>
            </h3>
            <p>Here is the body of the post, bla bla bla...</p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                <span class="btn-group-vertical pull-right">
                    <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-arrow-up"></i></button>
                    <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-arrow-down"></i></button>
                </span>
                <strong>Title</strong>
            </h3>
            <p>Here is the body of the post, bla bla bla...</p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                <span class="btn-group-vertical pull-right">
                    <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-arrow-up"></i></button>
                    <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-arrow-down"></i></button>
                </span>
                <strong>Title</strong>
            </h3>
            <p>Here is the body of the post, bla bla bla...</p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                <span class="btn-group-vertical pull-right">
                    <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-arrow-up"></i></button>
                    <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-arrow-down"></i></button>
                </span>
                <strong>Title</strong>
            </h3>
            <p>Here is the body of the post, bla bla bla...</p>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>
                <span class="btn-group-vertical pull-right">
                    <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-arrow-up"></i></button>
                    <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-arrow-down"></i></button>
                </span>
                <strong>Title</strong>
            </h3>
            <p>Here is the body of the post, bla bla bla...</p>
        </div>
    </div>
</div>